clouds:
  rackspace:
    auth:
      auth_url: https://identity.api.rackspacecloud.com/v2.0/
      username: "username"
      password: "api key"
      project_id: "account id"
    region_name: DFW
    interface: public
    identity_api_version: 2.0
